<%- include('_navbar') %>
<div class="container">
    <div class="container-fluid">
        <div class="row mt-5 text-center">
            <div class="col">
                <h2>Welcome to PlanToGo!</h2>
            </div>
        </div>
    </div>
        
        <div class="container-fluid">
        <div class="row m-5 text-center fs-5">
            <div class="col">
                <div>
                    <p>What do you need to have your trip as relaxed as possible?</p>
                    <p class="fst-italic">We believe it is all about planning!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text" id="index-container">
    <div class="row">
        <div class="card m-5" style="width: 18rem;">
            <img src="images/items.jpg" class="card-img-top mt-2" alt="items">
            <div class="card-body">
            <h5 class="card-title">Checklist</h5>
            <p class="card-text">No more headache and pounding heart about something you forgot to take! Here you will find an interactive checklist of items to be taken to your trip.</p>
            <a href="/checklist" class="btn btn-outline-dark">Read more</a>
            </div>
        </div>
    
        <div class="card m-5" style="width: 18rem;">
            <img src="images/monkeys.jpg" class="card-img-top mt-2" alt="itinerary">
            <div class="card-body">
            <h5 class="card-title">Itinerary</h5> 
            <p class="card-text">What cities and places are you planning to visit? What are the prices, working hours and other valuable information? Press me to have everything in one place.</p>
            <a href="/itinerary" class="btn btn-outline-dark">Read more</a>
            </div>
        </div>
    
        <div class="card m-5" style="width: 18rem;">
            <img src="images/finance.jpg" class="card-img-top mt-2" alt="finance">
            <div class="card-body">
            <h5 class="card-title">Travel budget</h5>
            <p class="card-text">Are you keen to get some numbers? Here you will find all the information about your travel budget.</p>
            <a href="/budget" class="btn btn-outline-dark">Read more</a>
            </div>
        </div>
    </div>
</div>
